<div class="card-recipe mt-3 extra-rounded justify-content-between">
  <%= cl_image_tag recipe.photo.key, alt: "AI-generated image of the recipe" if recipe.photo.attached? %>
  <div class="card-recipe-infos">
    <div class="card-recipe-right">
      <%= link_to recipe.recipe_name, recipe_path(recipe), id: 'bold-link' %>
      <div class="badge rounded-pill text-bg-warning mt-2"><i class="fa-regular fa-clock"></i> <%= recipe.prep_time %></div>
    </div>
    <div class="card-recipe-left">
      <%= link_to recipe_favourites_path(recipe), class: "favourite-button", data: {turbo_method: :post} do %>
        <% if recipe.favourite(current_user) %>
          <i class='fa-solid fa-heart mx-auto'></i>
        <% else %>
          <i class='fa-regular fa-heart'></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!--<div style="<%#= 'background: url(' + url_for(@recipe.photo) + ') no-repeat center center fixed;' if @recipe.photo.attached? %> -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height: 100vh; width: 100vw; position: fixed; top: 0; left: 0; z-index: -1;">-->
    <%#= cl_image_tag @recipe.photo.key, alt: "AI-generated image of the recipe" if @recipe.photo.attached? %>
<!--  </div>
-->
