<div class="card-recipe mt-4 extra-rounded ">
  <%= image_tag "hot-dish.png", alt: "chef image" %>
  <div class="card-recipe-infos">
    <div class="card-recipe-right">
      <%= link_to favourite.recipe.recipe_name, recipe_path(favourite.recipe), id: 'bold-link' %>
      <div class="badge rounded-pill text-dark bg-white mt-2"><i class="fa-regular fa-clock"></i> Prep time: <%= favourite.recipe.prep_time %></div>
    </div>
    <div class="card-recipe-left">
      <%= link_to favourite_path(favourite), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-dark text-decoration-none' do %>
        <i class="fa-solid fa-trash-can mx-auto"></i>
      <% end %>
    </div>
  </div>
</div>
