// Specific CSS for your home-page
$cream: #F9FBF2;

.container {
  // height: 100vh;
  // width: 100%;
  font-family: 'Antonio';
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .title-card,
    .motto-card {
      backdrop-filter: blur(10px);
      color: $cream;
      padding: 70px;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      width: 100%;
      max-width: 600px;
      font-weight: bold;
    }
  }
}

body.pages.home {
  background: url('https://images.unsplash.com/photo-1619674072044-da7ecf3b17cd?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') fixed center;
  background-size: cover;
  color: $cream;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-card {
  sm: 540px;
  display: flex;
  color: white;
  padding: 0.25rem 0.5rem;
  margin-top: 20px;
  justify-content: space-wrap;
  background-color: black;
  opacity: 70%;
  width: fit-content;
}
