// Specific CSS for your home-page
$cream: #F9FBF2;
$black: black;

#homepage {
  height: calc(100vh - 5rem); // This makes sure the container fills the entire height of the viewport
  display: flex;
  // flex-direction: column;
  justify-content: space-between; // This pushes the content to the bottom
  font-family: 'Montserrat', sans-serif;
  line-height: 1.75;

  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end; // Center content horizontally

    h1 {
      margin: 0; // Remove default margins or adjust as necessary
      padding: 0.5rem 0; // Add some padding if needed
      text-align: center;
      font-size: 4rem; // Example for a large, attention-grabbing heading
      font-weight: 700;
      // text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
    }

    h3 {
      margin: 0; // Remove default margins or adjust as necessary
      padding: 0.5rem 0; // Add some padding if needed
      text-align: center;
      font-size: 1.5rem; // Example for a large, attention-grabbing heading
      font-weight: 400;
    }
  }

  .button-card {
    display: flex;
    justify-content: space-between; // This will take effect if there's enough horizontal space
    width: 100%; // Adjust this width as necessary
    padding: 0.5rem 0; // Add some padding for spacing

    .btn {
      margin: 0 5px; // Ensure buttons don't stick together
      background-color: #fdd835;
      text-transform: uppercase;
      padding: 10px 20px;
      font-weight: bold;
      color: #333;
      border-radius: 15px;
      transition: background-color 0.3s, transform 0.2s; // Smooth transitions

      &:hover {
        background-color: #fbc02d; // Slightly lighter yellow on hover
        transform: translateY(-2px); // Slight lift effect
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

body.pages.home {
  font-family: 'Antonio';
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0)), url('https://images.unsplash.com/photo-1619674072044-da7ecf3b17cd?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') fixed center;  background-size: cover;
  color: $cream;
  justify-content: flex-end; // This pushes the content to the bottom
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.container-homepage {
  font-family: $app-font;

  h1 {
    font-family: $app-font;
  }

  h3 {
    font-family: $app-font;
    font-weight: lighter;
  }

  .card {
    // width: 80%;
    background: #fdf9f3;
    border-radius: 20px;
    margin: 0;
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    // .favourite-button {
    //   position: absolute;
    //   top: 5px;
    //   right: 2px;
    // }
    #bold-link {
      font-weight: bold;
    }
  }

  .card a{
    color: black;
    text-decoration: none;
  }

  .card a:hover {
    color: #ffc300;
  }

  .btn {
    background: #ffd60a;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  }
}
