body.favourites.index {
  background: url('https://images.unsplash.com/photo-1571997478779-2adcbbe9ab2f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzZ8fGZvb2QlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww') fixed center;
  // margin: 20px auto;
  padding-top: 20px;
  background-size:contain;
  backdrop-filter: blur(5px);
  font-family: $app-font;
  height: 100vh;
  font-size: large;
}
.container {
  font-family: $app-font;

  h1 {
    font-family: $app-font;
    font-size: 38px;
  }

  h3 {
    font-family: $app-font;
    font-weight: lighter;
  }

  .favourite-cards {
    height: 63vh;
    overflow: scroll;
  }

  .card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 16px;
    overflow: hidden;
    background: white;
    border: 1px solid white;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    .bold-name {
      font-weight: bold;
    }
  }
}
