<div class="container my-3">
  <h1>All Recipes</h1>

  <h2>New AI recipes</h2>

  <h2>Don't know what to cook, we got you</h2>
  <%= button_to "generate recipes", generate_recipes_path %>

  <h2>Past recipes</h2>
  <div>
    <% @recipes.each do |recipe| %>
      <p><%= link_to recipe.recipe_name, recipe_path(recipe) %>, created at: <%= recipe.created_at %></p>
      <%#= button_to 'Favorite', new_favorite_path(recipe) %>
    <% end %>
  </div>
</div>
