<div class="container my-3">
  <h1>All Recipes</h1>

  <h2>New AI recipes</h2>

  <p>print new recipes from AI here</p>

  <h2>Past recipes</h2>

  <% @recipes.each do |recipe| %>
    <p><%= recipe.recipe_name %>, created at: <%= recipe.created_at %></p>
     <%= button_to 'Favorite', new_favorite_path(recipe) %>
  <% end %>
</div>

