<%= link_to products_path, class: 'text-light justify-content-start m-4' do %>
  <i class=' fas fa-arrow-left'></i>
<% end %>
<div class="container my-3 align-items-center text-light">
  <h1 class='quote'>Kitchen Genius</h1>
  <p><em>Pick an AI generated recipe to add to your list of favourites...</em></p>

  <% @recipes.each do |recipe| %>
    <%= render 'recipes/partials/recipe-card', recipe: recipe %>
  <% end %>
</div>
