<%= form_with url: generate_recipes_path, method: :post do |form| %>
  <!-- Search input -->
  <input type="text" id="productSearch" placeholder="Search products...">

  <ul id="productsList">
    <% @products.each do |product| %>
      <li class="product-item">
        <%= form.label :product_ids, product.product_name, value: product.id %>
        <%= form.check_box :product_ids, { multiple: true, class: 'product-checkbox' }, product.id, nil %>
      </li>
    <% end %>
  </ul>

  <%= form.submit "Generate Recipe" %>
<% end %>
