<!-- Inside app/views/recipes/show.html.erb -->
<!--<div class="recipe-content">-->
  <%# if @generated_recipe_content.present? %>
<!--    <pre><%#= @generated_recipe_content %></pre>-->
  <%# else %>
<!--    <p>No recipe content generated.</p>-->
  <%# end %>
<!--</div>-->



<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>
<!-- Display recipe details here -->
