<%= link_to recipes_path, class: 'text-light justify-content-start m-4' do %>
  <i class='fas fa-arrow-left'></i>
<% end %>
<div class="container my-3 align-items-center text-light">
  <h1 class='quote text-center'>Saved Recipes</h1>
  <%= link_to "Create another recipe", products_path, class: "btn mb-2" %>
  <div class="favourite-cards">
    <% if @favourites.empty? %>
      <h4>You have no favourites yet</h4>
    <% else %>
      <% @favourites.each do |favourite| %>
        <%= render 'favourites/partials/favourite-card', favourite: favourite %>
      <% end %>
    <% end %>
  </div>
</div>
