<%= link_to 'Back to recipes', recipes_path, class: 'text-light justify-content-start' %>

<div class="container align-items-center text-dark">
  <h1>Favourites</h1>

  <% if @favourites.empty? %>
    <h4>You have no favourites yet</h4>
  <% else %>
    <% @favourites.each do |favourite| %>
      <%= favourite.recipe.recipe_name %> <%= link_to 'Delete', favourite_path(favourite), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>
