<%= link_to recipes_path, class: 'text-light justify-content-start m-4' do %>
  <i class='fas fa-arrow-left'></i>
<% end %>
<div class="container my-1 align-items-center text-light">
  <h1 class='quote text-center'>Learn, Cook, & Eat your food</h1>
  <%= link_to "Create another recipe", products_path, class: "btn mb-2" %>
  <div class="favourite-cards">
    <% if @favourites.empty? %>
      <h4>You have no favourites yet</h4>
    <% else %>
      <% @favourites.each do |favourite| %>
        <%= render 'favourites/partials/favourite-card', favourite: favourite %>
        <!--<div class="card mt-4">-->
            <%#= link_to favourite.recipe.recipe_name, recipe_path(favourite.recipe), class: 'bold-name text-decoration-none' %>
<!--          <span style="font-size: 10px; color: #666;">
            <i class="fa-regular fa-clock"></i> Prep Time: <%#= favourite.recipe.prep_time %>
            <%#= link_to favourite_path(favourite), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-dark text-decoration-none' do %>-->
<!--              <i class="fa-solid fa-trash-can mx-auto"></i>-->
            <%# end %>
<!--          </span>
        </div>-->
      <% end %>
    <% end %>
  </div>
</div>
