<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto d-flex justify-content-center" style="flex-wrap: nowrap;">
        <li class="nav-item flex-fill text-center">
          <%= link_to root_path, class: "nav-link" do %>
            <i class="fas fa-home fa-2x"></i>
          <% end %>
        </li>
        <li class="nav-item flex-fill text-center">
          <%= link_to new_product_path, class: "nav-link" do %>
            <i class="fas fa-plus fa-2x"></i>
          <% end %>
        </li>
        <li class="nav-item flex-fill text-center">
          <%= link_to favourites_path class: "nav-link" do %>
            <i class="fas fa-heart fa-2x"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
