<!--<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>-->
<div class="container">
  <div class="row">
    <h3>Hi, <%= @user.email %></h3>

    <h2>Welcome to Foodbee</h2>

  </div>
</div>
<%= link_to "Add Products", products_path, class: "btn btn-outline-secondary btn-sm" %>
<%= link_to "Favorites", favourites_path, class: "btn btn-outline-secondary btn-sm" %>
<!--class="btn btn-outline-secondary btn-sm"-->
