<div class="container" id="homepage">
  <div class="row">

    <h1>Foodbee</h1>

    <h3>Cook Like A Chef</h3>

  </div>
  <div class="button-card d-flex justify-content-center justify-content-space-between">
    <%= link_to "Add Products", products_path, class: "btn btn-dark btn-sm" %>
    <%= link_to "Your Recipes", favourites_path, class: "btn btn-dark btn-sm" %>
  </div>
</div>

