body.recipes.index {
  background: url('https://images.unsplash.com/photo-1571997478779-2adcbbe9ab2f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzZ8fGZvb2QlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww') fixed center;
  margin: 20px auto;
  background-size:contain;
  backdrop-filter: blur(5px);
}

.card {
  // width: 80%;
  background: #fdf9f3;
  border-radius: 20px;
  margin: 0;
  border: 1px solid #eee;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  // .favourite-button {
  //   position: absolute;
  //   top: 5px;
  //   right: 2px;
  // }
  #bold-link {
    font-weight: bold;
  }
}

.card a{
  color: black;
  text-decoration: none;
}

.card a:hover {
  color: #ffc300;
}

.btn {
  background: #ffd60a;
  border-radius: 4px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
}
