.card-recipe {
  overflow: hidden;
  background-color: #fdf9f3;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 100%;
  height: 143px;
  font-size: large;

  img {
    height: 45px;
    width: 40px;
    object-fit: cover;
    margin-left: 12px;
    border-radius: 12px;
  }
}

.card-recipe a {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: black;
}

.card-recipe p {
  font-size: 24px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-recipe-right {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card-recipe-left {
  display: flex;
  align-items: center;
}

.card-recipe .card-recipe-infos {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
}

.extra-rounded {
  border-radius: 20px;
}
