.navbar-lewagon {
  background: white;
  overflow: hidden;
  position: fixed; // Keeps the navbar fixed at the bottom
  bottom: 0;
  width: 100%;
  height: 50px;
  // Remove 'justify-content' as it conflicts with the centering
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1; // Allows the navbar-collapse to expand
  justify-content: center; // Centers the child elements (navbar-nav)
}

.navbar-nav {
  width: 100%; // Ensure the navbar-nav takes the full width
  justify-content: space-around; // This will give equal space around all items
  flex-wrap: nowrap; // Prevents wrapping to a new line
}

.navbar-nav .nav-item {
  flex-grow: 1; // Allows each nav item to grow equally
  text-align: center; // Centers the content of nav-item
}

.navbar-nav .nav-link i {
  font-size: 24px; // Controls the size of the icons
}

.container-fluid {
  padding: 0; // Remove padding or adjust as needed to fit the navbar's content
  padding: 10px;
}
