.container {
  padding: 50px;

  .card-form {
    border-radius: 20px;
  }
}

body.products.edit {
  background: url('https://images.unsplash.com/photo-1694370583008-6b897b837150?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') fixed center;
  background-size: cover;

}
