$yellow: #FFF76A;

.container {
  font-family: $app-font;
  font-size: 26px;

  .heading-div {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;

    h1 {
      margin-bottom: 0;
      font-size: 32px;
    }
  }
  .list-group-item {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #fdf9f3;
    padding: 25px 22px;
    width: 100%;
    scroll-snap-align: center;

    a {
      text-decoration: none;
    }
  }

  .btns {
    margin-left: auto;
    align-items: center;
    gap: 18px;
    a {
      color: rgb(173, 173, 173);
      text-decoration: none;
      opacity: 0.7;
      font-size: 20px;
    }
  }

  .btn-product {
    position: sticky;
    bottom: 124px;
    margin: 15px 0;
    a {
      background-color: #FFD60A;
      color: black;
      text-decoration: none;
      border-radius: 20px;
      padding: 10px;
      margin-bottom: 20px;
    }

    a:hover {
      background-color: #fffddf;
      transition: 0.6s;
      border-color: #fffddf;
      border-width: 3px;
    }
  }

  img.circle-img {
    border-radius: 100%;
    width: 20%;
  }

}

body.products.index {
  background: url('https://images.unsplash.com/photo-1571997478779-2adcbbe9ab2f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzZ8fGZvb2QlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww') fixed center;
  backdrop-filter: blur(5px);
  background-size: contain;
  height: max-content;
  padding-top: 20px;
  font-family: $app-font;
  min-height: 100vh;
}

.product-checkbox {
  padding-top: 20px;
  top: .8rem;
  scale: 1.4;
  // margin-right: 0.7rem;
}

.product-name {
  font-size: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-muted {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 170px;
}

input[type=submit] {
  background-color: #FFF76A;

}

.product-list {
  height: 75vh;
  padding-left: 0;
  overflow: scroll;
  width: 100%;
  align-items: center;
  padding: 0 8px;
}

.container .btn.add-ingredient-btn {
  background: transparent;
}

i.fa-circle-plus {
  font-size: 32px;
  color: #fed709;
}

.card-product {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;

  .card-product-top-row {
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    a {
      margin-right: 2px;
    }
  }

  .card-product-infos {
    flex-grow: 1;
  }
}
