$yellow: #FFF76A;

.container {
  .heading-div {
    color: white;
    // font-weight: bold;
  }
  .list-group-item {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #fdf9f3;
    margin: 0;
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 15px;

    .description {
      margin-left: 10px;
    }
  }
  // margin-bottom: 15px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


  .btns {
    a {
      color: rgb(173, 173, 173);
      text-decoration: none;
      opacity: 0.7;
    }
  }

  .btn-product {
    a {
      background-color: #FFF76A;
      color: black;
      text-decoration: none;
      border-radius: 20px;
      padding: 10px;
      margin-bottom: 20px;
    }

    a:hover {
      background-color: #fffddf;
      transition: 0.6s;
      border-color: #fffddf;
      border-width: 3px;
    }
  }

  .name img {
    border-radius: 100%;
    width: 20%;
  }

}

body.products.index {
    background: url('https://images.unsplash.com/photo-1571997478779-2adcbbe9ab2f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzZ8fGZvb2QlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww') fixed center;
    backdrop-filter: blur(5px);
    background-size: contain;
    height: max-content;
    margin: 20px auto;
}

// background-color: rgb(231, 231, 231);
